<head>
  <title>Placeholder</title>
</head>

<body>
    <div class="container">
        <header>
            <h1 class="header text"> Placeholder </h1>
        </header>

        <div class="center">
            <h6>Current Wireless Network: {{network}}</h6>
        </div>

        <div class="center">
            <button id="broadcast-button">Broadcast Web Server IP Address</button>
        </div>
        {{>notifications}}
        {{>registered}}
        {{>unregistered}}
        {{>logs}}
    </div>
</body>
