<template name="registered">
    <table class="u-full-width">
        <thead>
            <tr>
                <th class="four columns text title">
                    Rooms
                    <div>
                        <button id="clearRooms">Clear All</button>
                    </div>
                </th>
                <th class="four columns text title">
                    Stations
                    <div>
                        <button id="clearStations">Clear All</button>
                    </div>
                </th>
                <th class="four columns text title">
                    Items
                    <div>
                        <button id="clearItems">Clear All</button>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="four columns no-border">
                    <div class="scroll-column">
                        <ul class="popover-list" id="rooms-list">
                            {{#each rooms}}
                            {{>room}}
                            {{/each}}
                        </ul>
                    </div>
                    <form class="new-room">
                        <input type="submit" value="Add" class="inline-button">
                        <div class="same-line">
                            <input class="u-full-width" type="text" name="name" placeholder="Room name"/>
                        </div>
                    </form>
                </td>
                <td class="four columns no-border">
                    <div class="scroll-column">
                        <ul class="popover-list" id="stations-list">
                            {{#each stations}}
                            {{>station}}
                            {{/each}}
                        </ul>
                    </div>
                </td>
                <td class="four columns no-border">
                    <div class="scroll-column">
                        <ul class="popover-list" id="items-list">
                            {{#each items}}
                            {{>item}}
                            {{/each}}
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</template>