<template name="station">
    <li class="popover-item">
        <a class="text-link {{is_active}}">
            {{#if registered}}
                <div class="name">{{name}}</div>
            {{/if}}
            <div class="info blue">ip : {{ip}}</div>
            {{#if registered}}
                <div class="info">room : {{room.name}}</div>
            {{/if}}
            <div class="info blue">last update : {{timestamp}}</div>
            {{#if registered}}
            <button>unregister station</button>
            {{/if}}
        </a>
        {{#unless registered}}
        <form>
            <input type="text" name="name" class="u-full-width" placeholder="Station name"/>
            <select class="u-full-width" name="room">
                <option value="" disabled selected>Select room</option>
                {{#each rooms}}
                    <option>{{name}}</option>
                {{/each}}
            </select>
            <input type="submit" class="u-full-width" value="Register"/>
        </form>
        {{/unless}}
    </li>
</template>
